In [4]:
pip install -q nbconvert #convert to pdf, html, etc

Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install -q pyppeteer #interface

Note: you may need to restart the kernel to use updated packages.

In [6]:
! pip install -q qeds

In [7]:
import pandas as pd
import qeds
%matplotlib inline
# activate plot theme
import qeds

from IPython.display import display

In [16]:
file_path = "../Data/housing.csv"
hp = pd.read_csv(file_path)
df = pd.DataFrame(hp)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [17]:
# Choose X and Y variables
# Replace 'X1', 'X2', ..., 'X5' with actual column names for independent variables
# Replace 'Y' with the dependent variable column name
x_columns = ['total_rooms', 'population', 'ocean_proximity', 'median_income', 'housing_median_age']  # Replace with your variables
y_column = 'median_house_value'  # Replace with your variable
selected_columns = x_columns + [y_column]

# Filter the DataFrame to include only the selected variables
df_selected = df[selected_columns]

# Show summary statistics
print("\nSummary Statistics for Selected Variables:")
print(df_selected.describe())

Summary Statistics for Selected Variables:
        total_rooms    population  median_income  housing_median_age  \
count  20640.000000  20640.000000   20640.000000        20640.000000
mean    2635.763081   1425.476744       3.870671           28.639486
std     2181.615252   1132.462122       1.899822           12.585558
min        2.000000      3.000000       0.499900            1.000000
25%     1447.750000    787.000000       2.563400           18.000000
50%     2127.000000   1166.000000       3.534800           29.000000
75%     3148.000000   1725.000000       4.743250           37.000000
max    39320.000000  35682.000000      15.000100           52.000000

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000